<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: bootstrap_header">
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body>
    <div class="container offset-sm-2 col-md-8 mt-lg-5">
        <div th:replace="fragments :: menu_navbar"></div>
        <!-- show errors if any -->
        <div class="row mt-2">
            <div th:if="${param.not_found}" class="col-sm-8">
                <p class="alert alert-danger">
                    No user found with this email.
                </p>
            </div>
        </div>
        <div class="row mt-2">
            <div th:if="${param.success}" class="col-sm-8">
                <p class="alert alert-info">
                    We have just sent a verification link to your email, please check to complete your request.
                </p>
            </div>
        </div>
        <h3 class="m-lg-5">Forgot password</h3>
        <form th:action="@{/registration/forgot-password}" method="post" class="px-4">
            <div class="row mb-3">
                <p></p>
                <label for="email" class="col-sm-2 col-form-label">Enter your Email</label>
                <div class="col-sm-4">
                    <input
                            type="text"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                            autofocus="autofocus"
                    >
                </div>
                <div class="col-sm-4 mb-3">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>